# Core ML
torch==2.4.0
torchvision
numpy
einops
h5py

# Robotics / Simulation
mani-skill
gymnasium
gymnasium-robotics
stable-baselines3

# Diffusion
diffusers

# Logging & Monitoring
tensorboard
wandb

# Utilities
opencv-python
moviepy
pytest
